
@{
    ViewData["Title"] = "Reset your password";


    <h2>Reset your password</h2>
    if (@ViewBag.MessageState == "Email")
    {
        <form method="post">
            <label>
                <b>@ViewBag.MessageState</b>
            </label><br />

            <input type="text" name="email" />
            <br /><br />
            <label style="color:red;">
                <b>@ViewBag.Message</b>
            </label><br />
            <div style="display:flex">
                <button class="btn btn-primary col-md-auto" style="display: inline" type="submit" name="action" value="Send">Send me a code</button><br />
                <button class="btn btn-light col-md-auto" style="display: inline; margin-left:10px" type="submit" name="action" value="Have">I have a code</button>
            </div>
        </form>
    }
    else if (@ViewBag.MessageState == "Done")
    {
        <label>
            <b>@ViewBag.MessageState</b>
        </label>
        <br />
    }
    else
    {
        <form method="post">
            <label>
                <b>@ViewBag.MessageState</b>
            </label><br />
            <input type="text" name="code" />
            <br /><br />
            <button class="btn btn-light col-md-auto" style="display: inline; margin-left:10px" type="submit" name="action" value="verify">Verify</button>

        </form>
    }
}