@model WebApplication1.Models.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}


<h1>Sign Up result</h1>
            @Model.FN<br />
            @Model.LN<br />
            @Model.Gender<br />
            @Model.Day @Model.Month  @Model.Year<br />
            @Model.Email<br />
            @Model.Password<br />






